<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="loginMember">
	SELECT
		  MNO
		, USERNAME
		, EMAIL
		, USERPWD
		, PHONE
		, BIRTH
		, ENROLLDATE
		, LEAVEDATE
		, MEMBERSHIP
	FROM MEMBER
	WHERE EMAIL = ?
	AND USERPWD = ?
	</entry>
	
	<entry key="insertMember">
	INSERT
	 INTO MEMBER
	(
	   MNO
	 , USERNAME
	 , EMAIL
	 , USERPWD
	 , BIRTH
	 , PHONE
	 , ENROLLDATE
	 , LEAVEDATE
	 , MEMBERSHIP
     )
     VALUES
     (
        SEQ_MNO.NEXTVAL
      ,  ?
      ,  ?
      ,  ?
      ,  SYSDATE
      ,  ?
      ,  SYSDATE
      ,  DEFAULT
      ,  2
      )
	</entry>
	
	<entry key="updateMember">
	UPDATE MEMBER
		SET USERNAME = ?
	WHERE EMAIL = ?
	</entry>
	
	<entry key="selectMember">
	SELECT 
		MNO
	  , USERNAME
	  , EMAIL
	  , USERPWD
	  , BIRTH
	  , PHONE
	  , ENROLLDATE
	  , LEAVEDATE
	  , MEMBERSHIP
	FROM MEMBER
	WHERE EMAIL = ?
	</entry>
	
	<entry key="updatePwd">
	UPDATE MEMBER
		SET USERPWD = ?
	WHERE EMAIL = ?
	AND USERPWD = ?
	</entry>
	
	<entry key="deleteMember">
	UPDATE MEMBER
	 SET MEMBERSHIP = 3,
		 LEAVEDATE = SYSDATE
	WHERE EMAIL = ?
	 AND USERPWD = ?
	</entry>
	
	<entry key="findId">
	SELECT EMAIL 
		FROM MEMBER
    WHERE USERNAME = ?
    AND PHONE = ?
	</entry>
	
	<entry key="findPwd">
	SELECT USERPWD
		FROM MEMBER
	WHERE EMAIL = ?
	AND USERNAME = ?
	</entry>
	
</properties>